# ==========================================
# Python, IDE, OS specific
# ==========================================
# Байт-код
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения (venv)
venv/
.venv/
env/
ENV/
.conda/

# IDE и редакторы
.vscode/
.idea/
*.swp
*.swo
